{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/quiz.css') }}">
{% endblock %}
{% block body %}
<div style="color:white;text-align: center;margin: 2vw;">
    <h1>Un bien en commun, le grand air !</h1><br>
    <h3>“Chacun d’entre nous a le droit de vivre dans un environnement équilibré et respectueux de la santé, donc de <strong>respirer un air de qualité</strong>.
        <br>Pourtant, on rejette dans l’atmosphère <strong>des substances qui altèrent la qualité de l’air et affectent notre santé</strong>. “</h3>

</div>
    <div class="container">

        <div class="quiz">



            <div class="quiz-question">Quels sont les effets de la pollution sur la santé?</div>

            <label class="quiz-answer">
                <input type="checkbox" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Aucun, le vent permet l'élimination de toute trace de pollution !</p>
                <span class="feedback">Try again!</span>
            </label>


            <label class="quiz-answer correct">
                <input type="checkbox" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Allergies</p>
                <span class="feedback">That's right!</span>
            </label>

            <label class="quiz-answer correct">
                <input type="checkbox" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Gêne respiratoire</p>
                <span class="feedback">That's right!</span>
            </label>

            <label class="quiz-answer correct">
                <input type="checkbox" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Cancer</p>
                <span class="feedback">That's right!</span>
            </label>

        </div>


        <div class="quiz">


            <div class="quiz-question">Parmi les recommandations suivantes en cas de d'épisode de pollution, trouvez l'erreur</div>

            <label class="quiz-answer correct">
                <input type="radio" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p> Eviter les efforts physiques soutenus en plein air </p>
                <span class="feedback">That's right!</span>
            </label>


            <label class="quiz-answer">
                <input type="radio" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Ne sortir à l’extérieur sous aucun prétexte</p>
                <span class="feedback">Sorry!</span>
            </label>

            <label class="quiz-answer correct">
                <input type="radio" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Limitez les déplacements sur les grands axes routiers et à leurs
                    abords, aux périodes de pointe</p>
                <span class="feedback">That's right!</span>
            </label>

        </div>
    </div>
    <div class="container">


        <div class="quiz">



            <div class="quiz-question">Les particules fines ont elles un impact sur notre santé ?  </div>

            <label class="quiz-answer">
                <input type="radio" name="question2" id="answer2">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Non, elles sont trop petites être inhalé</p>
                <span class="feedback">Try again!</span>
            </label>

            <label class="quiz-answer correct">
                <input type="radio" name="question2" id="answer2">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Oui, elles peuvent nuire à notre santé</p>
                <span class="feedback">That's right!</span>
            </label>

        </div>
        <div class="quiz">


            <div class="quiz-question">L'origine des polluants est : </div>

            <label class="quiz-answer correct">
                <input type="checkbox" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Humaine</p>
                <span class="feedback">That's right!</span>
            </label>

            <label class="quiz-answer correct">
                <input type="checkbox" name="question1" id="answer1">
                <div class="highlight"></div>
                <div class="circle"></div>
                <p>Naturelle</p>
                <span class="feedback">That's right!</span>
            </label>


        </div>
    </div>

    <div class="container" style="width: 100%">
    <img src="/images/18116_JNQA2018_vignette-3_TW_858x480_DEF.jpg" alt="" style="margin-left:9vw">
    </div>

{% endblock %}


