@import "main.scss";

html,
body {
  background: rgba(11, 12, 19, 1);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

body.loaded {
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.loading {
  background: rgba(16, 17, 24, 1);
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 1001;
}

.svg-wrapper {
  height: 290px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 290px;
}

.animate {
  fill: transparent;
  stroke-dasharray: 300;
  stroke-dashoffset: 600;
  stroke-width: 3px;
  stroke: #721212;
}

.text {
  color: #fff;
  display: inline-block;
  position: relative;
  top: -230px;
  left: 15px;
}

.logo {
  display: block;
  letter-spacing: 10px;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  font-family: 'Open Sans', sans-serif;
}

.motto {
  display: block;
  padding-top: 10px;
  font-family: 'Exo 2', 'sans-serif';
  font-size: 14px;
  letter-spacing: 3px;
}

.image-profil {
  -webkit-transition: width 0.5s, height 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}

.image-profil:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.centrage_logo{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  background-image: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url('images/2010.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: all 1.5s ease;
}

.landing.loaded {
  transform: scale(1.0);
}

.content-1 {
  text-align: center;
  height: 100px;
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  border-top: 1px solid white;
  overflow: hidden;
  width: 0;
  transition: 1s ease;
}

.content-1.loaded {
  width: 900px;
}

.one,
.two,
.three {
  color: white;
  font-size: 33px;
  position: absolute;
  text-align: center;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  transition: all .75s ease;
  font-family: 'Raleway';
  font-weight: lighter;
}

.bouton-basique a{
  color: #721212;
  text-decoration: none;
}

.bouton-hover a{
  color: white;
  text-decoration: none;
}

@keyframes scrollWheel {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}

.about {
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

.about h1 {
  font-family: 'Lato', serif, sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin-top: 100px;
}

#mission {
  margin-top: 80px;
  font-family: 'Noto Serif', serif, sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #999;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 30px;
}

:root {
  --cube-height: 60px;
}

.container {
  z-index: 1;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  width: 260px;
  height: var(--cube-height);
}

.cube {
  width: 250px;
  height: var(--cube-height);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.default-state,
.active-state {
  height: var(--cube-height);
}

.default-state {
  border: 1px solid #721212;
  -webkit-transform: translateZ(calc((var(--cube-height)/2)));
  -moz-transform: translateZ(calc((var(--cube-height)/2)));
  -o-transform: translateZ(calc((var(--cube-height)/2)));
  -ms-transform: translateZ(calc((var(--cube-height)/2)));
  transform: translateZ(calc((var(--cube-height)/2)));
}

.active-state {
  color: white;
  -webkit-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -moz-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -o-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -ms-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
}

.container:hover + .cube {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.cube {
  text-align: center;
  margin: 0 auto;
}

.default-state,
.active-state {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #721212;
  line-height: var(--cube-height);
}

.active-state {
  background: #721212;
  color: white;
}

.sponsors {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url(http://cdn.wonderfulengineering.com/wp-content/uploads/2014/07/black-and-white-wallpaper-13.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.sponsors h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.social {
  width: 100%;
  height: 300px;
}

.hideme {
  opacity: 0;
}

.icoTwitter {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 40px;
  margin: 0 auto;
  line-height: 70px;
  text-align: center;
  color: rgb(40, 40, 40);
  background-color: #fdad59;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all .5s ease;
}

.icoTwitter:hover {
  background: rgb(31, 32, 39);
  color: #fdad59;
}