
h5 {
  font-size:8px;
  color:gray;
}
.responses {
  background:#f2f2f2;
  padding:20px;
  margin:15px;
}
header {
  display:block;
  background:#c8102e;
  width:100%;
}
.quizContent {
  background:#fff;
  padding:24px;
}